Source: appcenter
Section: utils
Maintainer: Corentin Noël <corentin@elementary.io>
Build-Depends: appstream,
               cmake,
               cmake-elementary,
               debhelper (>= 9),
               desktop-file-utils,
               intltool,
               libappstream-dev (>= 0.10),
               libgee-0.8-dev,
               libgranite-dev,
               libgtk-3-dev,
               libjson-glib-dev,
               libpackagekit-glib2-dev,
               libsoup2.4-dev,
               libunity-dev,
               libxml2-dev,
               libxml2-utils,
               valac (>= 0.26)
Standards-Version: 3.9.6
Homepage: https://launchpad.net/appcenter

Package: appcenter
Architecture: any
Priority: extra
Conflicts: appcenter-daemon
Replaces: appcenter-daemon
Depends: appstream, packagekit, ${misc:Depends}, ${shlibs:Depends}
Recommends: appstream-data-pantheon
Description: Fast application store
 Install, update and remove apps with ease.
 Helps independent developers.

Package: appcenter-dbg
Architecture: any
Section: debug
Priority: extra
Depends: appcenter (= ${binary:Version}), ${misc:Depends}
Enhances: appcenter
Description: Fast application store (debugging symbols)
 Install, update and remove apps with ease.
 Helps independent developers.
 .
 This package contains debugging symbols for appcenter.
