Source: appcenter
Section: utils
Maintainer: Corentin Noël <corentin@elementary.io>
Build-Depends: cmake,
               cmake-elementary,
               debhelper (>= 9),
               intltool,
               libappstream-dev,
               libgee-0.8-dev,
               libgranite-dev,
               libgtk-3-dev,
               libpackagekit-glib2-dev,
               libunity-dev,
               libxml2-dev,
               valac (>= 0.18)
Standards-Version: 3.9.6
Homepage: https://launchpad.net/appcenter

Package: appcenter
Architecture: any
Priority: extra
Depends: appstream,
         packagekit,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: appstream-data-pantheon
Pre-Depends: dpkg (>= 1.15.7.2)
Description: Fast application store
 Install, update and remove apps with ease.
 Helps independent developers.

Package: appcenter-dbg
Architecture: any
Section: debug
Priority: extra
Depends: appcenter (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: appcenter
Description: Fast application store (debugging symbols)
 Install, update and remove apps with ease.
 Helps independent developers.
 .
 This package contains debugging symbols for appcenter.
