Source: appcenter
Section: utils
Maintainer: elementary Builds Team <builds@elementary.io>
Build-Depends: appstream,
               debhelper (>= 10.5.1),
               desktop-file-utils,
               gettext,
               libadwaita-1-dev,
               libappstream-dev (>= 0.15.2),
               libflatpak-dev (>= 1.0.7),
               libgee-0.8-dev,
               libgranite-7-dev (>= 7.4.0),
               libgtk-4-dev,
               libjson-glib-dev,
               libpackagekit-glib2-dev,
               libportal-dev,
               libportal-gtk4-dev,
               libsoup-3.0-dev,
               libxml2-dev,
               libxml2-utils,
               libpolkit-gobject-1-dev,
               policykit-1,
               sassc,
               meson,
               valac (>= 0.26)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/appcenter

Package: appcenter
Architecture: any
Priority: extra
Conflicts: appcenter-daemon
Replaces: appcenter-daemon
Depends: appstream (>= 0.12),
         apt-config-icons,
         apt-config-icons-hidpi,
         apt-config-icons-large,
         apt-config-icons-large-hidpi,
         packagekit,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: appstream-data-pantheon, flatpak
Description: Fast application store
 Install, update and remove apps with ease.
 Helps independent developers.

Package: appcenter-casper
Architecture: any
Priority: extra
Depends: casper
Description: Disable AppCenter daemon in casper
 Disable AppCenter daemon when running in a live system with casper
