/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2021-2024 elementary, Inc. (https://elementary.io)
 */

.progress-button {
    background-image: linear-gradient(
        0deg,
        #{'@accent_color'} 0.125em,
        transparent 0.125em
    );
    /* 2px spacing on each side; otherwise it looks weird with button borders */
    background-position: 2px;
    background-repeat: no-repeat;

    &:dir(rtl) {
        background-position: calc(100% - 2px);
    }
}
