/*
 * Copyright © 2020 elementary, Inc. (https://elementary.io)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@keyframes reveal-spin {
    to {
        -gtk-icon-transform: rotate(90deg);
    }
}

list row button.delete {
    background-color: @STRAWBERRY_500;
    border-radius: 50%;
    border-width: 0;
    box-shadow:
        0 1px 3px alpha (@STRAWBERRY_900, 0.12),
        0 1px 2px alpha (@STRAWBERRY_900, 0.24);
    color: #fff;
    margin: 6px;
    padding: 2px;
    -gtk-icon-shadow: 0 1px 2px alpha (#000, 0.6);
    -gtk-icon-shadow: 0 1px 2px alpha (@STRAWBERRY_700, 0.6);
}

list row:selected button.delete image {
    animation: reveal-spin 250ms ease-out 1;
}
