/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2023 elementary, Inc. (https://elementary.io)
 */

appinfoview:dir(ltr) .banner clamp > box {
    margin: 1.333rem; /*12px*/;
    margin-left: calc(1.333rem - 12px); /*Offset space inside icon*/;
}

appinfoview:dir(rtl) .banner clamp > box {
    margin: 1.333rem; /*12px*/;
    margin-right: calc(1.333rem - 12px); /*Offset space inside icon*/;
}

appinfoview .banner dropdown {
    margin-top: 1.333rem; /*12px*/;
}

appinfoview .content-warning-box {
    margin: 1.333rem 1.333rem 0; /*12px 12px 0*/;
}

appinfoview .screenshot {
    background: @selected_bg_color;
    border-radius: 0.666rem; /*6px*/
    color: @selected_fg_color;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.333rem; /*12px*/
    padding: 1.333rem; /*12px*/
}

appinfoview .content-box {
    margin: 0 1.333rem; /*12px*/;
}

appinfoview .content-box > label {
    font-size: 1.25em;
}

appinfoview .content-box .h4 {
    font-size: 1.5rem;
    opacity: 1;
    padding-bottom: 0;
}

appinfoview release {
    background: @selected_bg_color;
    border-radius: 0.666rem; /*6px*/
    margin: 0.666rem 1.333rem 1.333rem; /* 6px 12px 12px 12px*/
    padding: 1.333rem; /*12px*/
}
