.header > box {
    background: @base_color;
    padding: 1rem;
}

.header + scrolledwindow undershoot.top {
    background:
        linear-gradient(
            @borders,
            alpha(black, 0.05) 1px,
            alpha(black, 0.0) 4px
        );
}
