/*
 * Copyright 2017–2021 elementary, Inc. (https://elementary.io)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.banner {
    background-color: @banner_bg_color;
    background-image:
        linear-gradient(
            to bottom right,
            shade(@banner_bg_color, 1.05),
            shade(@banner_bg_color, 0.95)
        );
    color: @banner_fg_color;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

.banner button {
    background-color: @banner_fg_color;
    background-image: none;
    border: none;
    box-shadow: none;
    color: @banner_bg_color;
    font-size: 11pt;
    font-weight: 600;
}

.banner button:active,
.banner button:checked {
  opacity: 0.9;
}

.banner button label,
.banner button image {
    color: inherit;
    font-weight: inherit;
}

.banner button:not(.suggested-action) {
    opacity: 0.8;
}

.banner button:disabled {
    opacity: 0.33;
}
