/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2017-2024 elementary, Inc. (https://elementary.io)
 */

.banner {
    background-color: #{'@banner_bg_color'};
    background-image:
        linear-gradient(
            to bottom right,
            #{'shade(@banner_bg_color, 1.05)'},
            #{'shade(@banner_bg_color, 0.95)'}
        );
    color: #{'@banner_fg_color'};
    text-shadow: none;
    -gtk-icon-shadow: none;
}
