/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2024 elementary, Inc. (https://elementary.io)
 */

.header > box {
    padding: 1rem;
}

label.tiny-label {
    font-size: 0.75em;
    margin-top: 0.25em;
}
