/*
* Copyright 2021 elementary, Inc. (https://elementary.io)
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

button.progress {
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

button.progress label {
    padding-left: 7px;
    padding-right: 7px;
}

button.progress progressbar trough {
    background: alpha(@accent_color, 0.25);
    border: none;
    border-radius: 99px;
    box-shadow: none;
    min-height: 2px;
}

button.progress progressbar progress {
    background: @accent_color;
    border: none;
    border-radius: 99px;
    box-shadow: none;
    margin: 0;
    min-height: 2px;
    min-width: 0;
}
