navigation-view-page.search {
    stack.large row {
        border-radius: 0.25em;
    }

    listview {
        border-spacing: 2em;
    }

    search-list-item {
        border-spacing: 1em 0;
        margin: 0.5em 1em;
    }

    picture {
        background: #{'@selected_bg_color'};
        border-radius: 0.5em;
        margin-top: 1em;
    }
}
