name: CI

on:
  push:
    branches: [master]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        version: [stable, unstable, development-target]
    container:
      image: ghcr.io/elementary/docker:${{ matrix.version }}

    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        apt update
        apt install -y gettext libappstream-dev libflatpak-dev libportal-dev libportal-gtk3-dev libgee-0.8-dev libgranite-dev libgtk-3-dev libhandy-1-dev libjson-glib-dev libpackagekit-glib2-dev libsoup-3.0-dev libxml2-dev libxml2-utils libpolkit-gobject-1-dev meson valac
    - name: Build and Test
      env:
        DESTDIR: out
      run: |
        meson setup -Dintegration_tests=true build
        ninja -C build install
        ninja -C build test

    - name: Build and Test (Pop!_Shop)
      env:
        DESTDIR: out
      run: |
        meson configure -Dintegration_tests=true -Dcurated=false -Dpayments=false -Dsharing=false -Dname=Pop\!_Shop build
        ninja -C build install
        ninja -C build test

    - name: Build (Flatpak-only)
      env:
        DESTDIR: out
      run: |
        meson configure -Dintegration_tests=true -Dpackagekit_backend=false -Dubuntu_drivers_backend=false build
        ninja -C build install

  fedora:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        version: [latest, rawhide]
      container:
        image: fedora:${{ matrix.version }}

    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        dnf install -y PackageKit-glib-devel appstream appstream-devel desktop-file-utils flatpak-devel json-glib-devel libhandy-devel libportal-gtk3-devel libsoup3-devel libunity-devel polkit polkit-devel xdg-desktop-portal-devel meson vala libgee-devel granite-devel

    - name: Build and Test
      env:
        DESTDIR: out
      run: |
        meson setup -Dintegration_tests=true -Dcurated=false -Dpayments=false build build
        ninja -C build install
        ninja -C build test

  lint:

    runs-on: ubuntu-22.04

    container:
      image: valalang/lint

    steps:
    - uses: actions/checkout@v4
    - name: Lint
      run: io.elementary.vala-lint -d .
